<!doctype html>
<html ng-app="app">
	<head>
		<script src="js/angular-bootstrap.js" type="text/javascript"></script>
		<script src="js/app.js"></script>
		<title>AYTWW project</title>
		<link href="css/angular-bootstrap.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.4.10/ui-grid.min.css">
		<style type="text/css">
			[ng\:cloak], [ng-cloak], .ng-cloak {
				display: none !important;
			}
		</style>
	</head>

	<body>

		<div class="container" ng-controller="home">
		<!--<div class="container" >-->
			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--					<a ui-sref="search" ui-sref-active="active" class="navbar-brand" href="#">Search</a>
											<a ui-sref="search" ui-sref-active="active" class="navbar-brand" href="#">Search</a>-->
					</div>


					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a ui-sref="articles" ui-sref-active="active" href="#">HOME<span class="sr-only">(current)</span></a></li>
							<li><a ui-sref="books" ui-sref-active="active" href="#">Seznam knih</a></li>
							<li ng-show="!logged"><a ui-sref="register" ui-sref-active="active" href="#">Registrace</a></li>
							<li ng-show="logged"><a ui-sref="new-book" ui-sref-active="active" href="#" >Nová kniha</a></li>
						</ul>
						<div ng-show="!logged">
							<form id="signin" class="navbar-form navbar-right" role="form" ng-submit="login()">
								<div class="input-group">
									<!--<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
									<input id="email" type="email" class="form-control" name="email" value="" placeholder="Email/uživatelské jméno" ng-model="loginUser.email">
								</div>

								<div class="input-group">
									<!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
									<input id="password" type="password" class="form-control" name="password" value="" placeholder="Heslo" ng-model="loginUser.password">
								</div>

								<button type="submit" class="btn btn-primary">Přihlásit</button>
							</form>
						</div>
						<div ng-show="logged">
							<form id="logout" class="navbar-form navbar-right" role="form" ng-submit="logout()">
								<button type="submit" class="btn btn-primary">Odhlásit</button>
							</form>
						</div>
					</div>
				</div>
			</nav>
			<div class="messages">
				<div data-ng-show="errorShow" class="alert alert-danger"><strong>Chyba:</strong> {{errorMsg}}</div>
				<div data-ng-show="successShow" class="alert alert-success"><strong>Info:</strong> {{successMsg}}</div>
			</div>
			<ui-view></ui-view>
		</div>

		<script src="js/services/authService.js"></script>
		<script src="js/services/bookService.js"></script>
		<script src="js/controllers/bookController.js"></script>
		<script src="js/controllers/booksController.js"></script>
	</body>
</html>