<div class="col-md-6 col-md-offset-1">
	<h2> Detail knihy</h2>
	<div>
		<label for="id">Id</label>
		<div id="id">{{bookDetail.id}}</div>
	</div>
	<div>
		<label for="title">Název</label>
		<div id="title">{{bookDetail.title}}</div>
	</div>
	<div>
		<label for="author">Autor</label>
		<div id="author">{{bookDetail.author}}</div>
	</div>
	<div>
		<label for="genre">Kategorie</label>
		<div id="genre">{{bookDetail.genre.nameCz}}</div>
	</div>
	<div>
		<label for="isbn">ISBN</label>
		<div id="isbn">{{bookDetail.isbn}}</div>
	</div>
	<div>
		<label for="description">Popis</label>
		<div id="description">{{bookDetail.description}}</div>
	</div>
	<div ng-show="logged">
		<a ui-sref="bookEdit({id: {{bookDetail.id}}})" ui-sref-active="active" href="#" 
		   class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Editovat</a>
	</div>
</div>
