
<div class="col-md-6 col-md-offset-3">
    <h2>Přídat novou knížku</h2>
    <form name="form" ng-submit="newBook()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
            <label for="title">Název</label>
            <input type="text" name="title" id="title" class="form-control" ng-model="newBook.title" required />
            <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Název je povinný</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
            <label for="description">Popis</label>
			<textarea class="form-control" id="exampleTextarea" rows="3"  ng-model="newBook.description" required></textarea>
            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Popis je povinný</span>
        </div>
		<div class="form-group">
			<label for="genres">Kategorie</label>
			<select  class="form-control" name="genres" id="genres"
					 ng-options="option.nameCz for option in genresList track by option.id"
					 ng-model="newBook.genre"></select>
		</div>
        <div class="form-group" ng-class="{ 'has-error': form.isbn.$dirty && form.isbn.$error.required }">
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" id="isbn" class="form-control" ng-model="newBook.isbn" required />
            <span ng-show="form.isbn.$dirty && form.isbn.$error.required" class="help-block">ISBN je povinné</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.author.$dirty && form.author.$error.required }">
            <label for="author">Autor</label>
            <input type="text" name="author" id="author" class="form-control" ng-model="newBook.author" required />
            <span ng-show="form.author.$dirty && form.author.$error.required" class="help-block">Autor je povinný</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Uložit</button>
        </div>
    </form>
</div>
