
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">Křestní jméno</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="newUser.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">Křestní jméno je povinné</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Příjmení</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="newUser.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Příjmení je povinné</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Uživatelské jméno</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="newUser.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Uživatelské jméno je povinné</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="newUser.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email je povinný</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="newUser.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Heslo je povinné</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registrovat</button>
        </div>
    </form>
</div>
